# Copy this file into application.yml and change env variables as necessary.

AWS_ACCESS_KEY_ID: <your key here>
AWS_SECRET_ACCESS_KEY: <your key here>
S3_BUCKET_NAME: <your key here>
AWS_REGION: <your key here>
SECRET_KEY_BASE: <your key here>
DEVISE_SECRET_KEY: <your key here>
GCM_API_KEY: <your key here>
