# Create an application.yml file and add the relevant keys
AWS_ACCESS_KEY_ID: < your key here >
AWS_SECRET_ACCESS_KEY: < your key here >
S3_BUCKET_NAME: < your key here >
AWS_REGION: < your key here >

SECRET_KEY_BASE: < your key here >
DEVISE_SECRET_KEY: < your key here >

GCM_NAME: < your key here >
GCM_API_KEY: < your key here >

APNS_NAME: < your key here >
APNS_PEM: < your key here >
APNS_PASSWORD: < your key here >

SMTP_ADDRESS: < your key here >
SMTP_DOMAIN: < your key here >

development:
  HOST_NAME: < your key here >
  SENDGRID_USERNAME: < your key here >
  SENDGRID_PASSWORD: < your key here >
  APNS_ENV: < your key here >

production:
  HOST_NAME: < your key here >
  SENDGRID_USERNAME: < your key here >
  SENDGRID_PASSWORD: < your key here >
  APNS_ENV: < your key here >

staging:
  HOST_NAME: < your key here >
  SENDGRID_USERNAME: < your key here >
  SENDGRID_PASSWORD: < your key here >
  APNS_ENV: < your key here >
