<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>!</h1>
    <p>
      You have successfully reset your password. <br>
      Your new password is: <%= @password %>
    </p>
    <p>- SAGE</p>
  </body>
</html>
